:host{
  display: contents; /* to hide the host node in the dom */
}

.menuLateralItems{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .menuLateralItem {
    padding: 10px 5px;
    width: 120px;
    margin-top: 10px;
    color: white;
    background: #383838;
    border-radius: 5px;
    font-family: Englebert, sans-serif;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    font-weight: bold;

    &:hover {
      background: #009ee0;
      cursor: pointer;
    }

    &.inShopping {
      background: #bee000;
      color: #383838;
    }

    &.disabled {
      display: none;
    }

    i.icon-dice {
      font-size: 1.2em;
    }
  }

  /* CREATE RECIPE BUTTON */
  div.add {
    display: block;
    padding: 10px 10px 10px 40px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.05), inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.08s ease;
    -webkit-transition: all 0.08s ease;

    &:before {
      content: "";
      position: absolute;
      left: 15px;
      font-size: 18px;
      text-shadow: 0 0 30px #000;
    }

    &:after {
      content: "";
      position: absolute;
      right: 15px;
      font-size: 28px;
      line-height: 23px;
      color: rgba(255, 255, 255, 0.3);
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
      opacity: 0;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.7);
      background: rgba(0, 0, 0, 0.08);
      &:after { opacity: 1; }
    }

    &.add {
      text-align: center;
      padding: 0;
      height: 35px;
      margin: 10px 20px;
      border-radius: 100px;
      box-shadow: none;
      background: #2b2b2b;
      width: 142px;

      &:hover {
        color: #fff;
        background: #009ee0;
        cursor: pointer;
        font-family: Englebert, sans-serif;
        font-weight: bold;

        &:before {
          color: rgba(255, 255, 255, 1);
          line-height: 35px;
          left: 77px;
          opacity: 1;
        }

        &:after {
          color: rgba(255, 255, 255, 1);
          left: 30px;
          width: 100px;
        }
      }

      &:before {
        content: "Nouvelle recette";
        font-size: 15px;
        line-height: 50px;
        color: rgba(255, 255, 255, 0.5);
        text-shadow: none;
        width: 125px;
        height: 35px;
        left: 96px;
        opacity: 0;
        transition: all 0.15s ease;
        -webkit-transition: all 0.15s ease;
      }

      &:after {
        content: "+";
        font-weight: bold;
        font-size: 22px;
        font-family: fantasy;
        line-height: 35px;
        color: rgba(255, 255, 255, 0.1);
        text-shadow: none;
        width: 125px;
        height: 34px;
        left: 70px;
        opacity: 1;
        transition: all 0.15s ease;
        -webkit-transition: all 0.15s ease;
      }
    }
  }
}

@media print {
  div.add {
    display: none;
  }
}