:host{
  display: contents
}

.foodImage{
  width: 250px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.foodImage > img{
  border: 3px solid white;
  border-bottom: 6px solid white;
}

.foodImage .times {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100px;
  background: #1b1b1b;
}

.foodImage .times .line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 40px;
  border-bottom: 1px solid #202020;
}
.foodImage .times .line:last-child{
  align-items: center;
  border: none;
}

.icon-food{
  color: whitesmoke;
  font-size: 19px;
  padding-left: 1px;
}

.icon-user, .icon-cookie-bite{
  color: whitesmoke;
}

.foodImage .times .line .icon{
  font-size: 23px;
  width: 32px;
  text-align: center;
}

i.fa-utensils{
  font-size: 23px;
  margin-left: 5px;
  font-size: 23px;
  margin-left: 5px;
  color: whitesmoke;
}
i.fa-user{
  font-size: 18px;
  margin-right: 5px;
  color: whitesmoke;
}

.foodImage .times .line .value{
  flex: 1;
  text-align: end;
  margin-right: 10px;
  color: whitesmoke;
  font-family: 'Kavivanar';
  font-size: 15px;
}

.foodImage input.dureeInput {
  background: #424242;
  border: 1px solid #545454;
  color: #d2d0d0;
  padding: 0 3px;
  height: 20px;
  border-radius: 5px;
  font-style: italic;
  display: none;
  width: 55px;
  margin-left: 2px;
  margin-right: 2px;
}
.foodImage .times .line:last-child input.dureeInput {
  width: 33px;
}
.foodImage.edition input.dureeInput {
  display: block;
}

div.moreOrLess{
  display: inline-block;
  width: 15px;
}
.foodImage .times .moreOrLess i {
  font-size: 13px;
  color: whitesmoke;
}
.foodImage .times .moreOrLess i:hover {
  cursor: pointer;
  color: #009ee0;
}
.foodImage .times .nbPersonUnit{
  border: 1px solid #fff;
}
.foodImage .times .nbPersonUnit:hover{
  color: #009ee0;
  border: 1px solid #009ee0;
  cursor: pointer;
}
.foodImage.edition .times div.value {
  display: none;
}
.foodImage.edition .moreOrLess {
  display: none;
}
@media print {
  .foodImage .line {
    color: #191919;
  }
}