:host{
  display: contents;
}

.chiefTip {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;

  .chiefTipTitle {
    font-weight: bolder;
    color: whitesmoke;
    padding: 10px;
    font-size: 28px;
    font-family: 'AmaticSC';

    &:before, &:after{
      content: " - ";
      width: 100px;
      height: 10px;
    }
  }

  .chiefTipContent {
    color: whitesmoke;
    font-family: 'IndieFlower';
    align-self: flex-start;
    margin-left: 20px;
    width: calc(100% - 40px);

    &.isEdited {
      div {
        display: none;
      }

      input {
        display: block;
        background: #424242;
        border: 1px solid #545454;
        color: #d2d0d0;
        width: 100%;
        line-height: 20px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
      }
    }

    input {
      display: none;
    }
  }
}

@media print {
  .chiefTip .chiefTipTitle, .chiefTip .chiefTipContent {
    color: #191919;
  }
}