:host{
  display: contents;
}

.meats {
  position: relative;
  top: -25px;
  left: 0px;
  height: 140px;
  width: 100px;
}
.meats img {
  position: absolute;
  z-index: 2;
  background: #202020;
  clip-path: circle(50px at center);
}
.meats img.firstMeat, .meats img.secondMeat, .meats img.thirdMeat, .meats img.fourthMeat, .meats img.fifthMeat, .meats img.sixthMeat, .meats img.seventhMeat, .meats img.eightMeat, .meats img.nineMeat {
  z-index: 1;
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: all 0.4s;
  clip-path: circle(20px at center);
}
.meats img.firstMeat:hover, .meats img.secondMeat:hover, .meats img.thirdMeat:hover, .meats img.fourthMeat:hover, .meats img.fifthMeat:hover, .meats img.sixthMeat:hover, .meats img.seventhMeat:hover, .meats img.eightMeat:hover, .meats img.nineMeat:hover {
  cursor: pointer;
}
.meats img.firstMeat.disable, .meats img.secondMeat.disable, .meats img.thirdMeat.disable, .meats img.fourthMeat.disable, .meats img.fifthMeat.disable, .meats img.sixthMeat.disable, .meats img.seventhMeat.disable, .meats img.eightMeat.disable, .meats img.nineMeat.disable {
  opacity: 0.3 !important;
  cursor: default;
}
.meats img.firstMeat.visibleImg {
  top: -26px;
  left: 75px;
  opacity: 1;
}
.meats img.secondMeat.visibleImg {
  top: 9px;
  left: 97px;
  opacity: 1;
}
.meats img.thirdMeat.visibleImg {
  top: 50px;
  left: 98px;
  opacity: 1;
}
.meats img.fourthMeat.visibleImg {
  top: 85px;
  left: 75px;
  opacity: 1;
}
.meats img.fifthMeat.visibleImg {
  top: 101px;
  left: 36px;
  opacity: 1;
}
.meats img.sixthMeat.visibleImg {
  top: 92px;
  left: -5px;
  opacity: 1;
}
.meats img.seventhMeat.visibleImg {
  top: 60px;
  left: -33px;
  opacity: 1;
}
.meats img.eightMeat.visibleImg {
  top: 18px;
  left: -42px;
  opacity: 1;
}
.meats img.nineMeat.visibleImg {
  top: -21px;
  left: -23px;
  opacity: 1;
}