<div class="commentsContainer">
  <div class="author">
    <span>{{date}}, par {{author}}</span>
    <i [class]="getPencilClass()" title="Edition" (click)="toggleEdit()"></i>
    <i [class]="getTrashClass()" title="Effacer" (click)="deleteComment()"></i>
  </div>
  <div *ngIf="editComment; else noedit" class="comment">
    <div class="commentEdition" contenteditable [innerHTML]="textTransformed" (blur)="closeEdition($event.target.innerHTML)">
      Type your comment
   </div>
  </div>
  <ng-template #noedit>
    <div class="comment" [innerHTML]="text"></div>
  </ng-template>
</div>