:host{
  display: contents;
}

.formContainer{ display: none; }

  .formContainer.show {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .recipeForm{
      z-index: 2;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 600px;
      height: 800px;
      background: #3a3a3a url(../../../assets/img/menu-background.png) no-repeat;
      padding: 30px;
      border: 2px solid #1b1a1a;
      border-radius: 6px;
      box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.55);
  }

  .formTitle{
    font-family: Lobster,cursive;
    font-size: 30px;
    text-align: center;
    color: #FFF;
    text-decoration: underline;
  }

  .inputs{
    display: flex;
    flex-direction: column;
    height: 680px;
    overflow-y: scroll;
    position: relative;
  }

  .recipeInput, .recipeSelect, .timeSelect{
    border: 2px solid #696868;
    border-radius: 5px;
    padding: 3px;
    background: #cccccc;
    font-family: 'Englebert', sans-serif;
    font-weight: bold;;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .recipeSelect:hover, .timeSelect:hover{
    cursor: pointer;
  }

  .photoAndDuration {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
  }
  .photoAndDuration .photoRecipe {
    flex: 1;
    min-width: 151px;
    max-width: 151px;
    height: 151px;
    border: 5px solid #696868;
    margin-top: -9px;
  }
  .photoAndDuration .photoInputs { flex: 1; }
  .photoAndDuration .photoInputs .recipeInput { margin-left: 10px; }
  .photoAndDuration .inputAndTime {
    display: flex;
    flex-direction: row;
  }
  .photoAndDuration .inputAndTime .timeSelect {
    width: 50%;
    margin-left: 2px;
  }

  .video{
    color: #FFFFFF;
    font-family: 'Englebert', sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .video i{
    margin-right: 10px;
    margin-left: 3px;
  }
  .video .fa-check-square{ color: #bee000; }
  .video i:hover {
    cursor: pointer;
    color: #009EE0;
  }

  .separator{
    height: 0;
    width: 66%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #696868;
    border-radius: 3px;
    align-self: center;
  }

  .ingredientsCreator, .stepsCreator, .tagsCreator {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }
  .ingredientsCreator .ingredientsCreatorTitle, .stepsCreator .stepsCreatorTitle, .tagsCreator .tagsCreatorTitle {
    font-family: 'Englebert', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .ingredientsCreator .ingredientsCreatorTitle i, .stepsCreator .stepsCreatorTitle i, .tagsCreator .tagsCreatorTitle i {
    margin-left: 10px;
    font-size: 30px;
  }
  .ingredientsCreator .ingredientsCreatorTitle i:hover, .stepsCreator .stepsCreatorTitle i:hover, .tagsCreator .tagsCreatorTitle i:hover {
    cursor: pointer;
    color: #009ee0;
  }
  .ingredientsCreator .ingrInputs, .stepsCreator .stepsInputs, .tagsCreator .tagsInputs {
    width: 99%;
    display: flex;
    flex-direction: row;
  }
  .stepsCreator .stepsInputs{
    flex-direction: column;
  }
  .ingredientsCreator .ingrInputs input, .stepsCreator .stepsInputs input, .tagsCreator .tagsInputs input {
    height: 18px;
    flex: 1;
    padding: 5px;
    background: #ccc;
    font-family: 'Englebert', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #696868;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .ingredientsCreator .ingrInputs input{
	  width: 30%;
  }


  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .validRecipe, .closeRecipe{
    height: 35px;
    width: 100px;
    margin-right: 25px;
    border-radius: 7px;
  }
  .validRecipe {
    margin-left: 25px;
    background: #70dc2d;
    border: 2px solid #45b13e;
    color: #333;
    font-family: Englebert;
    font-weight: bold;
    font-size: 19px;
  }
  .validRecipe:hover {
    background: #509c21;
    border: 2px solid #33752f;
    color: #fff;
    cursor: pointer;
  }
  .closeRecipe {
    background: #dc452d;
    border: 2px solid #ab3131;
    color: #333;
    font-family: Englebert;
    font-weight: bold;
    font-size: 19px;
  }
  .closeRecipe:hover {
    background: #b73b27;
    border: 2px solid #752b2b;
    color: #fff;
    cursor: pointer;
  }