:host{
  display: contents; /* to hide the host node in the dom */
}

.notif {
  position: absolute;
  height: 0px;
  overflow: hidden;
  width: calc(100% - 15px);
  background: transparent;
  bottom: 0;
  z-index: 3;
  color: #fff;
  transition: all 1s ease;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: bolder;
  font-family: IndieFlower;

  &.showNotif { height: var(--size)px; }

  &.info { background: #47a8f5; }
  &.success { background: #6bbd6e; }
  &.warning { background: #ffaa2c; }
  &.error { background: #f66359; }

  ul li{
    list-style-type: none;
  }
}

@media print {
  .notif{
    display: none;
  }
}