:host{
  display: contents; /* to hide the host node in the dom */
}

.filters {
  width: 35px;
  padding: 5px 0 5px 5px;
  background: #202020;
  border-radius: 8px 0 0 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.disable { display: none; }

  .filtersContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  i {
    margin-top: 7px;
    margin-bottom: 7px;
    color: grey;
    position: relative;
    font-size: 24px;
    position: relative;
    padding: 3px;

    &.activated{ color: #bee000; }

    &.disable {
      opacity: 0.3;
      &:hover {
        color: grey;
        cursor: default;
      }
    }

    &.hover{
      cursor: pointer;
      color: #009ee0;

      .overPart{
        display: flex;
        flex-direction: column;
      }
    }

    &.overable.hover{
      cursor: pointer;
      background: whitesmoke;
      border-radius: 5px 0 0 5px;

      .overPart {
        .line{
          padding: 3px;
          padding-left: 6px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          span:first-child { font-family: 'Englebert'; }

          input[type="number"] {
            border-radius: 3px;
            border: 2px solid #838480;
            padding: 2px;
          }
        }

        button {
          height: 25px;
          width: 80px;
          background: #bee000;
          border: 1px solid #88a003;
          border-radius: 5px;
          margin-top: 3px;
          color: #2b2b2b;
          font-family: 'Englebert', sans-serif;
          font-weight: bold;
          font-size: 17px;
          align-self: center;

          &:hover {
            cursor: pointer;
            color: #fff;
            background: #7aad00;
          }
        }
      }
    }

    .overPart{
      display: none;
      position: absolute;
      background: whitesmoke;
      width: 112px;
      height: 85px;
      left: 39px;
      top: -30px;
      border-radius: 5px;
      box-shadow: 7px 8px 7px #1a1a1a;
      border: 1px solid gray;
      border-left: none;
      padding: 5px;
      font-size: 18px;
      color: #202020;
      z-index: -1;
    }
  }
}

@media print {
  .filters {
    display: none;
  }
}