:host{
  display: contents; /* to hide the host node in the dom */
}

#searchBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  position: relative;
  margin-left: 10px;
}
#searchBox .searchIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #303030;
  border: 2px solid #808080;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchBox .searchIcon:hover {
  cursor: pointer;
  border: 2px solid #009ee0;
}
#searchBox .searchIcon:hover > i, #searchBox .icon-toggle:hover > i {
  color: #009ee0;
}
#searchBox .searchIcon > i {
  font-size: 14px !important;
  color: #808080;
}
#searchBox .icon-toggle {
  z-index: 1;
  position: absolute;
  right: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchBox .icon-toggle > i {
  font-size: 14px !important;
  color: #808080;
}
#searchBox .icon-toggle:hover {
  cursor: pointer;
}
#searchBox .search-input {
  border: 1px solid #717171;
  border-radius: 4px;
  margin-right: -17px;
  background: #383838;
  padding: 2px 5px;
  width: calc(100% - 5px);
  max-width: 350px;
}
#searchBox .search-input:focus, #searchBox .search-input:not(:placeholder-shown) {
  background: #fff;
  color: #2b2b2b;
}
#searchBox .search-form {
  padding-top: 20px;
  position: absolute;
  width: 350px;
  background: #303030;
  top: 29px;
  right: 23px;
  z-index: 3;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .7);
  border: 1px solid black;
  display: none;
}
#searchBox .search-form.open {
  display: flex;
  flex-direction: column;
}
#searchBox .search-form .search-ingredients-in, #searchBox .search-form .search-ingredients-out, #searchBox .search-form .search-calories, #searchBox .search-form .search-max-time, #searchBox .search-form .search-validation {
  height: 30px;
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: row;
}
#searchBox .search-form .search-ingredients-in span, #searchBox .search-form .search-ingredients-out span, #searchBox .search-form .search-calories span, #searchBox .search-form .search-max-time span{
  width: 230px;
  font-size: 15px;
}
#searchBox .search-form .search-ingredients-in input, #searchBox .search-form .search-ingredients-out input, #searchBox .search-form .search-calories input, #searchBox .search-form .search-max-time input {
  height: 20px;
  border: 2px solid #696868;
  border-radius: 5px;
  padding: 5px;
  background: #ccc;
  font-family: Englebert, sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  width: calc(100% - 15px);
}
#searchBox .search-form .search-validation {
  height: 30px;
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
#searchBox .search-form .search-validation .raz {
  height: 25px;
  width: 100px;
  margin-right: 0px;
  margin-left: 25px;
  background: #e67e22;
  border: none;
  border-radius: 2px;
  color: #202020;
  font-weight: bold;
  font-family: 'Englebert', sans-serif;
  font-size: 16px;
}
#searchBox .search-form .search-validation .raz:hover {
  background: #b9651b;
  color: #fff;
  cursor: pointer;
}
#searchBox .search-form .search-validation .validSearch {
  height: 25px;
  width: 100px;
  margin-right: 0px;
  margin-left: 25px;
  background: #2d72dc;
  border: none;
  border-radius: 2px;
  color: #202020;
  font-weight: bold;
  font-family: 'Englebert', sans-serif;
  font-size: 16px;
}
#searchBox .search-form .search-validation .validSearch:hover {
  background: #1d4d98;
  color: #fff;
  cursor: pointer;
}