:host{
  display: contents; /* to hide the host node in the dom */
}

.unconnected {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.login, .password {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.password { margin-top: 20px; }

i {
  background-color: #363b41;
  width: 30px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  padding: 5px;
  color: #606468;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  border-radius: 0px 5px 5px 0px;
  border-color: transparent;
  background-color: #3b4148;
  padding-left: 5px;
  color: #FFF;
  line-height: 34px;
}

.notMember {
  display: flex;
  padding-top: 15px;
  font-family: 'Englebert', sans-serif;
  font-size: 13px;
}

.notMember span {
  color: #b7b6b6;
  padding-right: 15px;
}

.notMember .link{
  padding: 0;
  text-decoration: underline;
  color: #FFF;
}

.notMember .link:hover{ cursor: pointer; }

.connected{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.userDetails{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #FFFFFF;
  padding-left: 30px;
  font-family: Pacifico;
  font-size: 1em;
}

.userDetails .actions{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
}

.userDetails .actions span{
  cursor: pointer;
  font-family: 'Englebert', sans-serif;
  font-size: 13px;
  padding-top: 3px;
  color: gray;
}

.userDetails .actions span:hover { color: #FFF; }