:host{
  display: contents;
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.ingredients .ingredientsTitle {
  font-weight: bolder;
  color: whitesmoke;
  padding: 10px;
  font-size: 28px;
  font-family: AmaticSC;
}
.ingredients .ingredientsTitle:before, .ingredients .ingredientsTitle:after {
  content: " - ";
  width: 100px;
  height: 10px;
}
.ingredients .ingredientList {
  margin: 0;
  max-width: 660px;
  padding: 10px;
  background-color: #191919;
  border: 1px solid #2d2d2d;
  border-radius: 6px;
  position: relative;
}
.ingredients .ingredientList .upDown{
  display: flex;
  flex-direction: column;
}
.ingredients .ingredientList .upDown i:hover{
  cursor: pointer;
  color: #009ee0;
}
.ingredients .ingredientList li {
  float: left;
  width: 300px;
  color: whitesmoke;
  padding-right: 30px;
  list-style-type: none;
  font-family: 'IndieFlower';
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.ingredients .ingredientList li.edition {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ingredients .ingredientList li.edition .deleteIngredient {
  color: #d43322;
  padding: 0 5px;
}
.ingredients .ingredientList li.edition .deleteIngredient:hover {
  color: #009ee0;
  cursor: pointer;
}
.ingredients .ingredientList li input {
  background: #424242;
  border: 1px solid #545454;
  color: #d2d0d0;
  padding: 0 3px;
  height: 20px;
  border-radius: 5px;
  font-style: italic;
}
.ingredients .ingredientList li input.ingredientInput.group, .ingredients .ingredientList li input.ingredientInput.unit { width: 20%; }
.ingredients .ingredientList li input.ingredientInput.name { width: 30%; }
.ingredients .ingredientList li input.ingredientInput.qte {
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
.ingredients .ingredientList li input.ingredientInput.name {
  flex: 1;
  margin: 0 5px;
}
.ingredients .ingredientList .ingredientTabs {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: -24px;
  user-select: none;
}
.ingredients .ingredientList .ingredientTabs .ingredientsMove {
  position: relative;
  border-radius: 5px 5px 0 0;
}
.ingredients .ingredientList .ingredientTabs .ingredientsMove .ingredientIcon {
  color: whitesmoke;
  background: #191919;
  padding: 5px;
  margin-right: 3px;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #2d2d2d;
  border-left: 1px solid #2d2d2d;
  border-right: 1px solid #2d2d2d;
}
.ingredients .ingredientList .ingredientTabs .ingredientsMove .ingredientIcon:hover {
  cursor: pointer;
  color: #009ee0;
}
.ingredients .ingredientList .ingredientTabs .ingredientsMove.disable .ingredientIcon { color: #424242; }
.ingredients .ingredientList .ingredientTabs .ingredientsMove.disable .ingredientIcon:hover {
  cursor: default;
  color: #424242;
}
.ingredients .ingredientList .ingredientTabs .ingredientsMove.open { color: #009ee0; }
.ingredients .ingredientList .ingredientTabs .ingredientsLegend {
  position: relative;
  border-radius: 5px 5px 0 0;
}
.ingredients .ingredientList .ingredientTabs .ingredientsLegend .ingredientIcon {
  color: whitesmoke;
  background: #191919;
  padding: 5px;
  margin-right: 3px;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #2d2d2d;
  border-left: 1px solid #2d2d2d;
  border-right: 1px solid #2d2d2d;
}
.ingredients .ingredientList .ingredientTabs .ingredientsLegend .ingredientIcon:hover {
  cursor: pointer;
  color: #009ee0;
}
.ingredients .ingredientList .ingredientTabs .ingredientsLegend.disable .ingredientIcon { color: #424242; }
.ingredients .ingredientList .ingredientTabs .ingredientsLegend.disable .ingredientIcon:hover {
  cursor: default;
  color: #424242;
}
.ingredients .ingredientList .ingredientTabs .ingredientsLegend .legend {
  position: absolute;
  display: none;
  padding: 10px;
  background: #f5f5f5;
  width: 180px;
  box-shadow: 8px 8px 4px #0c0c0c;
  border-radius: 0 5px 5px 5px;
  box-shadow: 8px 8px 4px #0c0c0c;
  margin-top: -1px;
  margin-left: 1px;
}
.ingredients .ingredientList .ingredientTabs .ingredientsLegend .legend .legendItem {
  color: #191919;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: IndieFlower, cursive;
}
.ingredients .ingredientList .ingredientTabs .ingredientsLegend.open .legend { display: block; }

.ingredients .ingredientList li.addIngredient input{
  background: whitesmoke;
  color: #2d2d2d;
}
.addIngredient .groupInput{
  width: 20%;
  margin-right: 5px;
}
.addIngredient .ingredientInput{
  flex: 1;
  margin-right: 5px;
}
.addIngredient .quantityInput{
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
.addIngredient .unitInput{
  width: 20%;
  margin-right: 13px;
}
.icon-list-add{
  font-size: 30px;
  margin-top: 6px;
  color: #bee000;
}
.icon-list-add:hover{
  cursor: pointer;
  color: #009ee0;
}
.validation{
  justify-content: center;
}
.validation span{
  background: #bee000;
  border-radius: 6px;
  margin-top: 10px;
  padding: 2px 10px;
  color: #191919;
  font-weight: bold;
}
.validation span:hover{
  cursor: pointer;
  background:#009ee0;
}

@media screen and (min-width: 1300px) {
  .ingredients {
    margin-left: 15px;
  }
  .ingredients .ingredientList {
    width: 350px;
  }
  .ingredients.edition .ingredientList {
    width: 420px;
  }
}

@media print {
  .ingredients .ingredientsTitle, .ingredients .ingredientList li {
    color: #191919;
  }
}
.ghost {
  background-color: #009ee0;
  color: #191919;
  width: 200px;
  height: 30px;
  opacity: 0.8;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: -1000px;
}
.ghost i { padding-right: 10px; }