:host{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Kavivanar;
  background-color: #303030;
  color: white;
  border-radius: 5px;
}

.histoTitle{
  font-size: 27px;
  padding-top: 10px;
  font-weight: bolder;
  align-self: flex-start;
  padding-left: 10px;
}

.histoContent{
  width: 100%;
  height: 100%;

  .chart-wrapper {
    max-width: 925px;
    margin: auto;
  }
}