@font-face {
  font-family: 'cooking-book-icons';
  src: url('../font/cooking-book-icons.eot?29167784');
  src: url('../font/cooking-book-icons.eot?29167784#iefix') format('embedded-opentype'),
       url('../font/cooking-book-icons.woff2?29167784') format('woff2'),
       url('../font/cooking-book-icons.woff?29167784') format('woff'),
       url('../font/cooking-book-icons.ttf?29167784') format('truetype'),
       url('../font/cooking-book-icons.svg?29167784#cooking-book-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cooking-book-icons';
    src: url('../font/cooking-book-icons.svg?29167784#cooking-book-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "cooking-book-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cog:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-video:before { content: '\e803'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-cancel-circled2:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-tag:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-eye-1:before { content: '\e809'; } /* '' */
.icon-heart-broken:before { content: '\e80a'; } /* '' */
.icon-check-1:before { content: '\e80b'; } /* '' */
.icon-down-open:before { content: '\e80c'; } /* '' */
.icon-up-open:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-to-end:before { content: '\e80f'; } /* '' */
.icon-left-open:before { content: '\e810'; } /* '' */
.icon-to-start:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-user:before { content: '\e813'; } /* '' */
.icon-arrows-cw:before { content: '\e814'; } /* '' */
.icon-list-add:before { content: '\e815'; } /* '' */
.icon-print-1:before { content: '\e816'; } /* '' */
.icon-lock-filled:before { content: '\e817'; } /* '' */
.icon-basket:before { content: '\e818'; } /* '' */
.icon-comment-medical:before { content: '\e819'; } /* '' */
.icon-slash:before { content: '\e81a'; } /* '' */
.icon-cookie-bite:before { content: '\e81b'; } /* '' */
.icon-dice:before { content: '\e81c'; } /* '' */
.icon-gift:before { content: '\e81d'; } /* '' */
.icon-chart-bar:before { content: '\e81e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-extinguisher:before { content: '\f134'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */