<div class="stars">
  <i [class.icon-star-empty]="(starRank < 0.5)" [class.icon-star-half-alt]="(starRank >= 0.5) && (starRank < 1)"  [class.icon-star]="starRank >= 1"></i>
  <i [class.icon-star-empty]="(starRank < 1.5)" [class.icon-star-half-alt]="(starRank >= 1.5) && (starRank < 2)"  [class.icon-star]="starRank >= 2"></i>
  <i [class.icon-star-empty]="(starRank < 2.5)" [class.icon-star-half-alt]="(starRank >= 2.5) && (starRank < 3)"  [class.icon-star]="starRank >= 3"></i>
  <i [class.icon-star-empty]="(starRank < 3.5)" [class.icon-star-half-alt]="(starRank >= 3.5) && (starRank < 4)"  [class.icon-star]="starRank >= 4"></i>
  <i [class.icon-star-empty]="(starRank < 4.5)" [class.icon-star-half-alt]="(starRank >= 4.5) && (starRank < 5)"  [class.icon-star]="starRank >= 5"></i>
  <span class="average"> ({{nbMark}} votes)</span>
  <span *ngIf="canVote" class="vote"> Je note ! <input type="number" min="0" max="5" [value]="markSelected" (keydown.enter)="addMark($event)" /></span>
</div>